@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* Basic Color variables for website */

:root {
    --color-black: #070707;
    --color-gray: #4e4e4e;
    --color-hover: #fc55ee;
    --color-white: #FFFFFF;
    --color-main: rgb(255, 21, 99);
}

/* Universal Css */

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

/* ======================== Animation For website =========================== */

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes to_bottom {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes to_right {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes to_left {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* ================================= Navbar CSS Style ======================================== */

.app__navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    padding: 1rem 2rem;
    z-index: 99;

}

.app__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app__logo a span {
    margin: 0 1rem;
    font-family: 'Cormorant Upright', serif;
    font-size: 30px;
    letter-spacing: 2px;
    color: var(--color-main);
    font-weight: 700;
}

.app__logo a img {
    width: 50px;
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.app__navbar-links li a {
    letter-spacing: .5px;
    cursor: pointer;
    margin: 0 1.5rem;
    color: var(--color-main);
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    transition: all .3s liner;
    position: relative;
}

.app__navbar-links li a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    background-color: var(--color-main);
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: 0.3s;
    transform-origin: left;
}

.app__navbar-links li a:hover {
    color: var(--color-hover);
}

.app__navbar-links li a:hover::before {
    transform: scale(1);
}

/* =================================== Header Section CSS ======================================= */

.custom__button_btn {
    background-color: var(--color-main);
    color: var(--color-white);
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 30px;
    font-size: 17px;
    padding: 0.5rem 1.8rem;
    border-radius: 5px;
    border: none;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .3s ease;
}

.custom__button_btn:hover {
    background-color: var(--color-white);
    border: 1px solid var(--color-main);
    color: var(--color-black);
}

.header__container-left_side {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.header__container-right_side {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2rem;
    animation: to_bottom 1s ease forwards;

}

.header__container-right_side img {
    width: 70%;
    border-radius: 20px;
}

.header__container-right_side img::before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transition: 0.2s;
    transform-origin: left;
}

.header__container-h2 {
    font-family: 'Cormorant Upright', serif;
    font-weight: 700;
    color: var(--color-main);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 40px;
    animation: to_right .9s ease forwards;

}

.header__container-h1 {
    font-weight: 600;
    color: #252525;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 100px;
    font-size: 70px;
    animation: to_right 1s ease forwards;
}

.header__container-info {
    line-height: 1.5;
    color: var(--color-gray);
    font-weight: 400;
    font-size: 17px;
    animation: to_right 1.2s ease forwards;
}

.menu__btn {
    color: var(--color-black);
    font-size: 33px;
    cursor: pointer;
    display: none;
}

/* === Media queries For header and navbar ==== */

@media screen and (max-width: 1160px) {
    .app__navbar-links {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: var(--color-white);
        height: 60vh;
        width: 100%;
        display: block;
        text-align: center;
    }

    .app__navbar-links li {
        margin: 50px 0;
    }

    .app__navbar-links li a {
        font-size: 20px;

    }

    .menu__btn {
        display: block;
    }

    .custom__button_btn {
        display: none;
    }

    .app__wrapper {
        flex-direction: column;
    }

    .section__padding {
        padding: 4rem 3rem;
    }

    .header__container-left_side {
        margin: 4rem 0;
    }

    .header__container-right_side img {
        width: 90%;
    }
}

@media screen and (max-width: 650px) {
    .header__container-right_side img {
        width: 95%;
    }

    .section__padding {
        padding: 5rem 2rem;
    }

    .header__container-h2 {
        line-height: 50px;
    }

    .header__container-h1 {
        font-size: 50px;
        line-height: 80px;
    }
}

/* ================================= Form Section Style ====================================== */
.popup-form {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.363);
}

.popup-form .popup-content {
    background-color: var(--color-white);
    margin: 8% auto;
    padding: 20px;
    border: 1px solid var(--color-gray);
    width: 40%;
    box-shadow: 10px 10px 25px #a9acaf,
        -10px -10px 25px #ffffff;
        border-radius: 20px;
}

.popup-form .popup-content .close-btn {
    color: var(--color-gray);
    float: right;
    font-size: 28px;
    font-weight: 600;
}

.popup-form .popup-content .close-btn:hover,
.popup-form .popup-content .close-btn:focus {
    color: var(--color-black);
    text-decoration: none;
    cursor: pointer;
}

.popup-form .popup-content h2 {
    font-size: 1.8rem;
    font-family: 'Cormorant Upright', serif;
    font-weight: 700;
    color: var(--color-main);
    margin-bottom: .8rem;
    text-align: center;
    letter-spacing: 1px;
}

.popup-form .popup-content form {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

.popup-form .popup-content form .form-field1 {
    width: 100%;
}

.popup-form .popup-content form .nameBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.popup-form .popup-content form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-gray);
    margin-bottom: 20px;
    padding: 8px 5px;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    outline: none;
    color: var(--color-gray);
}

.popup-form .popup-content form .form-field1,
.popup-form .popup-content form .nameBox .form-field2,
.popup-form .popup-content form .nameBox .form-field3 {
    position: relative;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.popup-form .popup-content form .form-field1 label,
.popup-form .popup-content form .nameBox .form-field2 label,
.popup-form .popup-content form .nameBox .form-field3 label {
    color: var(--color-gray);
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    opacity: 0;
}

.popup-form .popup-content form .nameBox .form-field2,
.popup-form .popup-content form .nameBox .form-field3 {
    width: 50%;
}

.popup-form .popup-content form .nameBox .form-field2 {
    margin-right: 50px;
}

.popup-form .popup-content form .form-field1 input:focus~label,
.popup-form .popup-content form .nameBox .form-field2 input:focus~label,
.popup-form .popup-content form .nameBox .form-field3 input:focus~label,
.popup-form .popup-content form .form-field1 input:not(:placeholder-shown)~label,
.popup-form .popup-content form .nameBox .form-field2 input:not(:placeholder-shown)~label,
.popup-form .popup-content form .nameBox .form-field3 input:not(:placeholder-shown)~label {
    top: -25px;
    opacity: 1;
}

.popup-form .popup-content form p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
    color: var(--color-gray);
    font-weight: 450;
}

.popup-form .popup-content form p #check {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.popup-form .popup-content form button {
    width: 90%;
    height: 60px;
    color: var(--color-white);
    background-color: var(--color-main);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 20px 0 15px 0;
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* ==== Media Queries For Contact Form ====== */

@media screen and (max-width: 1000px) {
    .popup-form {
        overflow: auto;
    }

    .popup-form .popup-content {
        width: 80%;
        max-width: 600px;
    }

    .popup-form .popup-content form {
        max-width: 500px;
        margin: 0 auto;
    }

    .popup-form .popup-content form .nameBox .form-field2,
    .popup-form .popup-content form .nameBox .form-field3 {
        width: 100%;
    }

    .popup-form {
        top: 13%;
    }
}

@media screen and (max-width: 700px) {
    .popup-form .popup-content form {
        max-width: 400px;
        margin: 0 auto;
    }
    .popup-form .popup-content form .nameBox {
        flex-direction: column;  
    }
    .popup-form .popup-content form .nameBox .form-field2 {
        margin-right: 0px;
    }
}

/* ================================ Slider Section Style ====================================== */

.slider__container_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

.slider__container-h1 {
    flex: 0 0 50%;
}

.slider__container-p {
    flex: 0 0 50%;
}

/* === Main slider styling === */

.slider {
    margin-top: 60px;
}

.card {
    border-radius: 8px;
    position: relative;

}

.layer {
    width: 100%;
    height: 0;
    color: var(--color-white);
    background: var(--color-main);
    border-radius: 9px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-top: 36px;
    margin-bottom: 21px;
    letter-spacing: 0px;
    font-size: 24px;

}

.layer p {
    margin-bottom: 50px;
}

.layer a {
    color: var(--color-main);
    background: var(--color-white);
    font-weight: 700;
    border: 1px solid var(--color-white);

}

.layer .arrow {
    width: 37px;
}

.card:hover .layer {
    height: 100%;
}

.dot-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.dot {
    width: 32px;
    height: 32px;
    background-color: var(--color-black);
    border-radius: 50%;
    cursor: pointer;
}

.red-dot {
    background-color: var(--color-main);
    background: url("../assets/icons/red-dot.svg");
    background-size: contain; 
}

.black-dot {
    background-color: var(--color-black);
    width: 8px;
    height: 8px;
}

.main-slider__container {
    max-width: 1100px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
}

.main-slider__container .slider {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider.no-transition {
    scroll-behavior: auto;
}

.slider.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.slider.dragging .card {
    cursor: grab;
    user-select: none;
}

.slider :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .card {
    scroll-snap-align: start;
    height: 500px;
    background: var(--color-white);
    flex-direction: column;
    border-radius: 8px;
}

.slider .card .img {
    height: 500px;
    width: 370px;

}

.card .img img {
    width: 370px;
    height: 500px;
    border-radius: 15px;
    object-fit: contain;
}

/*  ========= Media Query For Slider  ========== */
@media screen and (max-width: 1100px) {
    .main-slider__container {
        max-width: 900px;
    }

    .slider .card {

        height: 400px;
    }

    .slider .card .img {
        height: 400px;
        width: 280px;
    }

    .card .img img {
        width: 250px;
        height: 400px;
    }

    .slider__container_info {
        margin: 15px auto;
        flex-direction: column;
    }

    .slider__container-h1 {
        font-size: 45px;
        text-align: center;
    }

    .slider__container-h2 {
        font-size: 35px;
    }

    .slider__container-p {
        width: 80%;
        text-align: center;
    }

}

@media screen and (max-width: 750px) {
    .main-slider__container {
        max-width: 700px;
    }

    .slider .card {

        height: 250px;
    }

    .slider .card .img {
        height: 250px;
        width: 180px;
    }

    .card .img img {
        width: 180px;
        height: 250px;
    }

    .layer img {
        font-size: 5px;
    }

    .layer h3 {
        font-size: 18px;
    }

    .layer a {
        font-size: 18px;
    }
}

@media screen and (max-width: 550px) {
    .main-slider__container {
        max-width: 500px;
    }

    .slider .card {

        height: 180px;
    }

    .slider .card .img {
        height: 180px;
        width: 140px;
    }

    .card .img img {
        width: 140px;
        height: 180px;
    }

    .slider__container-h1 {
        font-size: 35px;
    }

    .slider__container-h2 {
        font-size: 28px;
        text-align: center;
    }

    .slider__container-p {
        font-size: 15px;
    }
}

/*============================== Why Choose Us Styling======================================== */

.why__choose__us_heading-h2 {
    line-height: 2rem;
    text-align: center;
    margin-bottom: 28px;
}

.why__choose__us_heading-h1 {
    text-align: center;
}

.icons__group {
    display: grid;
    place-items: center;
    justify-content: space-around;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 4rem;
}

.single__icon h3 {
    margin-top: 2rem;
    font-family: 'Cormorant Upright', serif;
    font-weight: 700;
    color: var(--color-main);
}

.single__icon p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: var(--color-gray);
}

/* ====== Media Query for Why Choose Us section ==== */

@media screen and (max-width: 1340px) {
    .icons__group {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 950px) {
    .icons__group {
        grid-template-columns: repeat(1, 1fr);
    }

    .single__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

/* ========================== Project Section Styling ======================================== */

.project__heading-h2 {
    line-height: 2rem;
    text-align: center;
    margin-bottom: 28px;
}

.project__heading-h1 {
    text-align: center;
    margin-bottom: 6rem;
}

.project-box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.project-box .left {
    flex: 0 0 55%;
}

.project-box .right {
    flex: 0 0 45%;
}

.project-box .left img {
    width: 100%;
    border-radius: 25px;
}

.project-box .right .about__project {
    width: 100%;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 20px;
}

.project-box .right .desc h3 {
    font-size: 32px;
    margin-bottom: 10px;
    font-family: 'Cormorant Upright', serif;
    font-weight: 700;
}

.project-box .right .desc p {
    font-size: 17px;
    font-weight: 400;
}

.project-box .right .active {
    background-color: var(--color-main);
    color: var(--color-white);
}

/* ======= Media queries for project section ===== */ 

@media screen and (max-width: 1280px) {
    .project-box {
        flex-direction: column;
    }

    .project-box .left img {
        width: 100%;
        border-radius: 25px;
    }
}

/* ================================== Growth Section Styling ================================= */

.growth__section__heading-h2 {
    line-height: 2rem;
    text-align: center;
    margin-bottom: 28px;
}

.growth__section__heading-h1 {
    text-align: center;
}

.growth__cards-group {
    display: grid;
    place-items: center;
    justify-content: space-around;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 4rem;
}

.growth__cards {
    background-color: rgb(240, 240, 240);
    width: 250px;
    height: 210px;
    text-align: center;
    transition: all .2s linear;
    cursor: pointer;
    border-radius: 8px;
}
.growth__cards:hover {
    box-shadow: 10px 10px 25px #a9acaf,
        -10px -10px 25px #ffffff;
        transform: scale(1.1);
}

.growth__cards svg {
    color: var(--color-main);
    width: 2.5rem;
    height: 2rem;
    margin: 1.7rem;
}
.growth__cards h3{
    font-size: 43px;
    font-weight: 600;
}
.growth__cards p{
    font-size: 18px;
    font-weight: 400;
    color: var(--color-gray);
}

/* ====== Media queries for growth section =====*/

@media screen and (max-width: 1190px) {
    .growth__cards-group{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 615px) {
    .growth__cards-group{
        grid-template-columns: repeat(1, 1fr);
    }
    .growth__cards {
        width: 300px;
        height: 250px;
    }
}

/* ======================== Feedback Section CSS Code ============================================ */
.feedback__section__heading-h2{
    line-height: 2rem;
    text-align: center;
    margin-bottom: 28px;
}
.feedback__section__heading-h1{
    text-align: center;
}
.feedback__para{
    padding: 2rem 4rem .8rem;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-gray);
}

.span__holder{
    text-align: center;
    font-size: 26px;
}
.span__holder .feedback-name{
    font-family: 'Cormorant Upright', serif;
    font-weight: 700;
    color:var(--color-main);
}
.span__holder .inc{
    color: rgb(158, 158, 158);
}

/* ============================== Footer Section CSS Code ====================== */
.footer__section {
    background-color: var(--color-main);
    padding: 4rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__section img {
    max-width: 100%;
    height: auto; 
    display: block;
}
